.banner {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/banner.jpg'); /* Chemin mis à jour */
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}
.banner h1 {
    color: white;
    font-size: 48px;
    margin: 0;
}
.banner h2 {
    color: white;
    font-size: 24px;
    opacity: 0.8;
}
